<h1>{{title}}</h1>

<form action="/count" method="post">
  <textarea cols="60" name="ants" placeholder="input data">{{ants}}</textarea>
  <button type="submit">Count</button>
</form>

Response: {{ count }}